fastapi
uvicorn[standard]
gunicorn[gevent]
python-multipart
firebase-admin
pydantic
pydantic-settings
email-validator
pyjwt
passlib[bcrypt]
python-jose[cryptography]
requests
httpx
chromadb
langchain-chroma
boto3
langchain
langchain-community
langchain-upstage
openai
pypdf
pillow
beautifulsoup4
lxml
python-dotenv